form {  
    width: 350px;
    border: 2px solid #4390dd;  
    border-radius: 15px;
    padding: 20px;
}

button {
    width: 200px;
}

.nav-color{
    background-color: rgb(202, 238, 238);
}
#carouselExampleCaptions .carousel-item .carousel-caption {
    bottom: 44%;
}
#carouselExampleCaptions .carousel-item .carousel-caption h5{

    font-size: 50px;
}
#carouselExampleCaptions .carousel-item .carousel-caption p{
    font-size: 25px;
}